<% provide(:title, 'About') %>
<div class="post-content">
  <div class="page-header">
    <a href="" onClick="return false;" class="text-center" title="这里不能点啦～">About</a>
  </div>
  <div class="page-inner about">
    <p>Hello, everybody~ 这里是 <strong>Fake Starup News</strong>！（<a href="https://twitter.com/fenng">@Fenng</a> 大大请宽恕我的行为。）</p>
    <p>本着一切以解决自身需求为第一要务的想法，就动手开发了这样一个项目，数据源是 <a href="https://twitter.com/fenng">@Fenng</a> 的 <a href="http://news.dbanotes.net">Starup News</a>，使用了 <a href="https://github.com/xhinking">@xhinking</a> 童鞋开发的 <a href="https://github.com/xhinking/StartupNewsAPI">StartupNewsAPI</a>，并通过 Readability 进行文章内容的抓取及美化。</p>
    <p>由于使用了 Readability 进行文章的抓取，所以经常会出现一些意想不到的错误（排版混乱、pdf 文件无法获取等），可以直接点击顶部标题来查看原文。</p>
    <p>原本的计划中想使用 Disqus 来代替原本的评论功能，但是后来发现自己完全不知道应该怎么把 Disqus 加到每篇文章下面，就先搁置了这一想法。</p>
    <ul class="inline me">
      <li><a href="https://github.com/kshiftlv">Github</a></li>
      <li class="muted"></li>
      <li><a href="https://twitter.com/kshift">Twitter</a></li>
      <li class="muted"></li>
      <li><a href="http://kshift.me">Blog</a></li>
    </ul>
  </div>
</div>
<a href="https://github.com/kshiftlv/StartupNews"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
