<% provide(:title, 'Home') %>
<div class="span3">
  <ul class="nav nav-list" id="post-list">
    <% @posts.each_with_index do |post, index| %>
    <li class="<%= index/5 %>"><a href="" class="post-title" id="<%= post.id %>" onClick="return false;"><%= post.title %></a></li>
    <% end %>
    <li id="next"><a href="" class="next" onClick="return false;">Next</a></li>
  </ul>
</div>

<div class="span9" id="post-content">
  <div class="page-inner">
    <%= @post.content.html_safe %>
  </div>
</div>

<script>
  $("a.post-title").click(function() {
    $('.page-inner *').remove();
    var spinner = new Spinner({top: '50px'}).spin();
    $('.page-inner').append(spinner.el);
    var post_id = $(this).attr("id");
    $.get("/posts/" + post_id, function(result) {
      $('.page-inner').html(result);
    });
  });
  $("ul#post-list > li:gt(4):not(#next)").css('display', 'none');
  $("a.next").click(function() {
    if ($(this).text() == 'Next') {
      var show_id = parseInt($("ul#post-list > li:visible").attr("class")) + 1;
      $("ul#post-list > li:visible:not(#next)").hide();
      $("li." + show_id).fadeIn('slow');
      if (show_id == 4) {
        $(this).text('Prev');
      };
    }else if ($(this).text() == 'Prev') {
      var show_id = parseInt($("ul#post-list > li:visible").attr("class")) - 1;
      $("ul#post-list > li:visible:not(#next)").hide();
      $("li." + show_id).fadeIn('slow');
      if (show_id == 0) {
        $(this).text('Next');
      };
    };
  });
</script>

<script>
  var _gaq=[['_setAccount','UA-40219911-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>