/*
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require_self
 *= require_tree .
 */
body, button, input, select, textarea {
  font: 500 14px/1.8 Verdana,Arial,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

body {
  background-color: #B5CAA0;
  overflow-y: scroll;
}

h1, h2, h3 {
  font-size: 1.4em;
  line-height: 1.5;
}

.navbar .brand {
  margin-left: 0;
  line-height: 18px;
}

.navbar-inner .nav li:hover {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.post-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-color: #ccc;
  border: 1px solid #dbdfd6;
  margin: 0 auto;
  min-height: 600px;
  opacity: 1;
  position: relative;
}

.post-content .page-inner {
  padding: 10px 30px 60px;
}

.post-content .about p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 16px;
}

.post-content .about .me {
  margin-top: 50px;
  text-align: center;
}

.page-header {
  padding: 0;
  margin: 0;
}

.page-header a {
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 24px;
  background-color: #f7f8f6;
}

.page-header a:hover {
  text-decoration: none;
}

.page-header span {
  font-size: 9px;
  color: #777;
  float: right;
}

.page-header span .icon-heart {
  opacity: .5;
  margin: 0 2px;
}

.post-list {
  position: fixed;
  width: 180px;
}

.nav-list li a.post-title,
.nav-list li a.prev,
.nav-list li a.next {
  margin-top: 10px;
  padding: 4px 15px;
  border: none;
  background: #91AD70;
  color: white;
  font-size: 14.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.nav-list li a.post-title:hover {
  background: #20604F;
}

.nav-list li a.prev,
.nav-list li a.next {
  width: 32px;
  background: #69B0AC;
  font-size: 16.5px;
  position: absolute;
  right: 14px;
}

.nav-list li a.prev {
  top: 340px;
}

.nav-list li a.next {
  top: 380px;
}

.nav-list li a.prev:hover,
.nav-list li a.next:hover {
  width: 42px;
  background: #3A8FB7;
}

.toolbar,
.toolbar a {
  margin: 4px 2px 0;
  color: #aaa;
  text-shadow: 0 1px 0 white;
  font-size: 12px;
}

.toolbar a:hover {
  color: #5d6c79;
}

.toolbar > .muted {
  padding-left: 0;
  padding-right: 0;
}
/* loading */
#facebookG {
  width: 128px
}

.facebook_blockG {
  background-color: #73CBFA;
  border: 3px solid #2E8F8F;
  float: left;
  height: 91px;
  margin-left: 7px;
  width: 24px;
  opacity: 0.1;
  -moz-animation-name: bounceG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.7);
  -webkit-animation-name: bounceG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.7);
  -ms-animation-name: bounceG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.7);
  animation-name: bounceG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.7);
}

#blockG_1 {
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

#blockG_2 {
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

#blockG_3 {
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

@-moz-keyframes bounceG {
  0% {
    -moz-transform: scale(1.2);
    opacity: 1
  }

  100% {
    -moz-transform: scale(0.7);
    opacity: 0.1
  }
}

@-webkit-keyframes bounceG {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(0.7);
    opacity: 0.1
  }
}

@-ms-keyframes bounceG {
  0% {
    -ms-transform: scale(1.2);
    opacity: 1
  }

  100% {
    -ms-transform: scale(0.7);
    opacity: 0.1
  }
}

@keyframes bounceG {
  0% {
    transform: scale(1.2);
    opacity: 1
  }

  100% {
    transform: scale(0.7);
    opacity: 0.1
  }
}

@media (min-width: 1200px) {
  .post-list {
    margin-left: 70px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .post-list {
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }

  .post-list {
    margin-left: -35px;
  }
}

@media (max-width: 767px) {
  .nav-list li a.prev, .nav-list li a.next {
    right: 65px;
  }

  .next-post {
    right: -15px;
  }

  .prev-post {
    left: -15px;
    display: none;
  }
}