<div class="navbar navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <%= link_to "Fake StartupNews", root_path, class: "brand", id: "logo" %>
    <ul class="nav">
      <li><%= link_to "Home", root_path, :id => "home" %></li>
      <li><%= link_to "About", about_path, :id => "about" %></li>
    </ul>
  </div>
</div>