<div class="navbar navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <%= link_to "Startup News", root_path, class: "brand", id: "logo" %>
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</div>